# --- Application ---
LOG_LEVEL="INFO"

# JSON array of valid tokens
AI_GATEWAY_API_TOKENS=["admin_token_secret", "service_token_1"]

# --- Providers ---
GROQ_API_KEY="gsk_..."
GROQ_BASE_URL="https://api.groq.com/openai/v1"

NEBIUS_API_KEY="..."
NEBIUS_BASE_URL="https://api.studio.nebius.ai/v1"

# --- Proxy ---
# Format: ip:port:user:pass
PROXY_URL=""

# --- Models Configuration ---
MODEL_LLM_FAST="openai/gpt-oss-120b"
MODEL_LLM_NORMAL="openai/gpt-oss-120b"
MODEL_LLM_PRECISE="Qwen/Qwen3-235B-A22B-Thinking-2507"

MODEL_VLM="Qwen/Qwen2.5-VL-72B-Instruct"
MODEL_EMBEDDING="Qwen/Qwen3-Embedding-8B"
MODEL_ASR="whisper-large-v3-turbo"

# --- AI-Gateway ---
AI_GATEWAY_URL="http://ai-gateway:8000/v1"
AI_GATEWAY_TOKEN="service_token_1"

# --- Router ---
# JSON array of valid tokens
AI_ROUTER_API_TOKENS=["admin_token_secret", "service_token_2"]

ROUTER_MODEL_MODE="fast"
GENERATION_MODEL_MODE="normal"