# --- Application ---
APP_VERSION="1.0.0"
PROJECT_NAME="HSE VK Controller"
LOG_LEVEL="INFO"
PROFILING="False"

# --- Keycloak ---
KEYCLOAK_SERVER_URL="https://keycloak.hsecontest.ru"
KEYCLOAK_REALM="master"
CLIENT_ID="hse-ai-assistant"
CLIENT_SECRET="..."

# --- VK ---
VK_TOKEN="vk1.a.YOUR_TOKEN..."
VK_CONFIRMATION_CODE="a1b2c3d4"
VK_SECRET_KEY="secret_key_from_vk_admin_panel"

BASE_URL="https://vk-bot.hsecontest.ru"
SESSION_SECRET="top_secret"

# --- AI Router ---
ROUTER_URL="http://ai-router:8000/v1"
ROUTER_SERVICE_TOKEN="router_secret_token"

# --- Redis ---
REDIS_URL="redis://redis:6379/0"