# --- Application ---
APP_VERSION="1.0.0"
PROJECT_NAME="HSE Alice Controller"
LOG_LEVEL="INFO"
PROFILING="False"

# --- Keycloak ---
KEYCLOAK_SERVER_URL="https://keycloak.hsecontest.ru"
KEYCLOAK_REALM="master"

# --- AI Router ---
ROUTER_URL="http://ai-router:8000/v1"
ROUTER_SERVICE_TOKEN="router_secret_token"

# --- Redis ---
REDIS_URL="redis://redis:6379/0"