API_TOKENS=hse_secret_token,admin_token

AI_GATEWAY_URL="http://ai-gateway:8000/v1"
AI_GATEWAY_TOKEN="top_secret"

DATABASE_URL="postgres://user:password@localhost:5432/autocheck_db"

PROMPTS_DIR="./prompts"