# --- Application ---
APP_VERSION="1.0.0"
PROJECT_NAME="HSE TG Controller"
LOG_LEVEL="INFO"
PROFILING="False"

# --- Keycloak ---
KEYCLOAK_SERVER_URL="https://keycloak.hsecontest.ru"
KEYCLOAK_REALM="master"
CLIENT_ID="hse-ai-assistant"
CLIENT_SECRET="..."

# --- TG Controller ---
# Токен от @BotFather
BOT_TOKEN="123456789:ABC..."

BASE_URL="https://assistant.hsecontest.ru"
SESSION_SECRET="top_secret"

# --- AI Router ---
ROUTER_URL="http://ai-router:8000/v1"
ROUTER_SERVICE_TOKEN="router_secret_token"

# --- Redis ---
REDIS_URL="redis://redis:6379/0"